In [33]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.2.3'

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")

In [5]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [45]:
len(df)
df.shape[0]

2160

In [7]:
df.Brand.nunique()

27

In [47]:
len([col for col in df.columns if df[col].isna().any()])

df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [14]:
df.loc[df["Brand"]== 'Dell', "Final Price"].max()

np.float64(3936.0)

In [16]:
df["Screen"].median()

np.float64(15.6)

In [17]:
df["Screen"].mode()

0    15.6
Name: Screen, dtype: float64

In [19]:
df["Screen"].fillna(df["Screen"].mode(), inplace = True)

In [20]:
df["Screen"].median()

np.float64(15.6)

In [22]:
#No

In [27]:
X = df.loc[df["Brand"]== 'Innjoo',("RAM", "Storage", "Screen")].values

In [31]:
XT = X.T

In [34]:
XTX = np.matmul(XT, X)

In [49]:
XT.dot(X)

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [35]:
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [36]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [38]:
y = [1100, 1300, 800, 900, 1000, 1100]

In [51]:
w = (XTX_inv @ X.T) @ y

In [52]:
w

array([45.58076606,  0.42783519, 45.29127938])

In [53]:
w.sum()

np.float64(91.2998806299555)

In [42]:
#91.30